services:

  observability-api:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: observability-api
    restart: unless-stopped

    ports:
      - "8000:8000"

    volumes:
      - ./.env:/app/.env:ro